<div class="login-page">
    <div class="form" >
        <form ng-controller="LoginController" ng-submit="vm.login()" role="form" novalidate class="login-form">
            <input id="username" name="username" type="text"     ng-model="vm.username" placeholder="username"/>
            <input id="password" name="password" type="password" ng-model="vm.password" placeholder="password"/>
            <button type="sumbit">login</button>
            <p class="message">Not registered? <a href="#!/register">Create an account</a></p>
        </form>
    </div>
</div>